<div class="container-fluid">
  <div class="mobileItem">
    <div class="row">
      <div class="col position-relative d-flex justify-content-end align-items-end" style="overflow: hidden;">
        <img src="r8Pro/Gradient_29.svg" class="w-50">
        <div class="d-flex justify-content-between m-4 position-absolute top-0 start-0 w-100">
          <p-megamenu [model]="items" />
          <img src="r8Pro/list-light 1.svg" class="listmenu me-5" style="background: url(<path-to-image>) rgb(0, 0, 0) -121.284px -30.317px / 155.763% 113.355% no-repeat;
mix-blend-mode: plus-lighter;">
        </div>
        <div class="position-absolute top-50 start-50 translate-middle text-start">
          <div class="text1">Understanding Copyright: Protecting Creativity in the Digital Age</div>
          <div class="d-flex">
            <img src="r8Pro/Rectangle 965.svg">
            <div class="d-flex flex-column justify-content-center m-4">
              <span class="text4 ">amir Soltanzade</span>
              <span class="text5">published in X_category . 3 min read . aug 14, 2023</span>
            </div>
          </div>
          <hr class="white">
          <div class="d-flex justify-content-between">
            <div class="">
              <i class='far fa-comments white fs-3 me-3'></i>
              <i class='far fa-heart white fs-3'></i>
            </div>
            <div class="">
              <i class='fas fa-share-square white fs-3 me-3'></i>
              <i class='far fa-save white fs-3'></i>
            </div>
          </div>
          <hr class="white">

        </div>
      </div>
    </div>

    <div class="row content-section">
      <div class="col text-center">
        <div class="text6 mx-auto marginTop">
          Copyright is a fundamental concept that plays a vital role in protecting the intellectual property of
          creators,
          artists, and innovators. It is a legal mechanism designed to safeguard their original works from unauthorized
          use, reproduction, or distribution. In an increasingly digital world, where information and content are easily
          accessible, understanding copyright is crucial for both creators and consumers. This article explores the
          essence of copyright, its historical context, and its relevance in the modern era.
          <br><br>
          <span class="bold">What is Copyright?</span>
          <br><br>
          Copyright is a legal framework that grants creators and authors exclusive rights over their original works,
          allowing them to control how their creations are used. These rights typically include the authority to
          reproduce, distribute, display, and adapt the work. Copyright is an essential mechanism that encourages
          innovation and creativity by providing creators with the assurance that their efforts will be protected and
          rewarded.
          <br><br>
          <span class="bold">The History of Copyright</span>
          <br><br>
          The concept of copyright has deep historical roots. The earliest forms of copyright date back to ancient
          civilizations like the Roman Empire, where authors and publishers were granted exclusive rights to reproduce
          their works. Over the centuries, various iterations of copyright laws emerged, evolving into the modern
          copyright system we know today.
          <br><br>
          The first Copyright Act in the United States, for example, was passed in 1790, granting creators the exclusive
          right to their works for 14 years, with the option to renew for another 14 years if they were still alive.
          This
          Act laid the foundation for the contemporary copyright system, which has since expanded and adapted to
          accommodate technological advancements.
        </div>
        <img src="r8Pro/image 14.svg" class="mt-5 w-50">
        <div class="text6 mx-auto mt-4">
          The first Copyright Act in the United States, for example, was passed in 1790, granting creators the exclusive
          right to their works for 14 years, with the option to renew for another 14 years if they were still alive.
          This
          Act laid the foundation for the contemporary copyright system, which has since expanded and adapted to
          accommodate technological advancements.
          <div class="card1 my-5">
            <button class="btn1 white">tags</button>
            <button class="btn1 white">tags</button>
            <button class="btn1 white">tags</button>
            <button class="btn1 white">tags</button>
          </div>




          <div class="row">
            <div class="col-6">
              <div class="card2">
                <img src="r8Pro/Rectangle 1077.svg" class="rounded-top-5 ">
                <span class="text7 p-3">Navigating the AI Landscape: A Closer Look at Our Diverse Toolset</span>
                <div class="d-flex justify-content-between mx-3">
                  <div class="">
                    <img src="r8Pro/chats-teardrop-thin 1.svg">
                    <img src="r8Pro/heart-thin 1.svg">
                  </div>
                  <div class="">
                    <img src="r8Pro/bookmark-thin 1.svg">
                  </div>
                </div>
              </div>
              <div class="card2 mt-4">
                <img src="r8Pro/Rectangle 1077 (2).svg" class="rounded-top-5 ">
                <span class="text7 p-3">Security in Focus: Safeguarding User Data in Our AI Ecosystem</span>
                <div class="d-flex justify-content-between mx-3">
                  <div class="">
                    <img src="r8Pro/chats-teardrop-thin 1.svg">
                    <img src="r8Pro/heart-thin 1.svg">
                  </div>
                  <div class="">
                    <img src="r8Pro/bookmark-thin 1.svg">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card2">
                <img src="r8Pro/Rectangle 1077 (1).svg" class="rounded-top-5 ">
                <span class="text7 p-3">Unlocking the Power of AI: Your Guide to Trial Versions and Pricing</span>
                <div class="d-flex justify-content-between mx-3">
                  <div class="">
                    <img src="r8Pro/chats-teardrop-thin 1.svg">
                    <img src="r8Pro/heart-thin 1.svg">
                  </div>
                  <div class="">
                    <img src="r8Pro/bookmark-thin 1.svg">
                  </div>
                </div>
              </div>
              <div class="card2 mt-4">
                <img src="r8Pro/Rectangle 1077 (3).svg" class="rounded-top-5 ">
                <span class="text7 p-3">Community Chronicles: Engaging in Collaborative AI Discussions</span>
                <div class="d-flex justify-content-between mx-3">
                  <div class="">
                    <img src="r8Pro/chats-teardrop-thin 1.svg">
                    <img src="r8Pro/heart-thin 1.svg">
                  </div>
                  <div class="">
                    <img src="r8Pro/bookmark-thin 1.svg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col position-relative d-flex justify-content-center align-items-center" style="overflow: hidden;">
        <img src="r8Pro/Gradient_14 1.svg" class="w-85">
        <div class="position-absolute top-0 start-0 w-100 h-100"
          style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.17) 0%, rgba(0, 0, 0, 0.74) 100%);"></div>
        <div class="position-absolute bottom-0 start-50 translate-middle text-center">
          <span class="text2 fw-bold text-nowrap">Brand</span>
          <div class="d-flex justify-content-between mt-5">
            <span class="text3">All Rights Reserved</span>
            <span class="text3 mx-5">Terms and Conditions</span>
            <span class="text3">Terms and Conditions</span>
            <span class="text3 ms-5">Privacy Policy</span>
          </div>
          <div class="d-flex justify-content-between mt-5 margin2">
            <img src="r8Pro/Facebook.svg" class="">
            <img src="r8Pro/Twitter.svg" class="">
            <img src="r8Pro/Instagram.svg" class="">
            <img src="r8Pro/LinkedIn.svg" class="">
            <img src="r8Pro/YouTube.svg" class="">
          </div>
        </div>
        <div class="position-absolute bottom-0 start-0 m-3">
          <p-select [options]="language" optionLabel="name" placeholder="English" class="w-full md:w-56 white" />
        </div>
      </div>
    </div>
  </div>



  <div class="mobileItem2 mx-4">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between m-4 position-absolute top-0 start-0 w-100">
          <p-megamenu [model]="items" />
          <img src="r8Pro/list-light 1.svg" class="listmenu mb-5">
        </div>
        <div class="">
          <div class="text1 marginTop2">Understanding Copyright: Protecting Creativity in the Digital Age</div>
          <div class="d-flex">
            <img src="r8Pro/Rectangle 965.svg">
            <div class="d-flex flex-column justify-content-center m-4">
              <span class="text4 ">amir Soltanzade</span>
              <span class="text5">published in X_category . 3 min read . aug 14, 2023</span>
            </div>
          </div>
          <hr class="white">
          <div class="d-flex justify-content-between">
            <div class="">
              <i class='far fa-comments white fs-3 me-3'></i>
              <i class='far fa-heart white fs-3'></i>
            </div>
            <div class="">
              <i class='fas fa-share-square white fs-3 me-3'></i>
              <i class='far fa-save white fs-3'></i>
            </div>
          </div>
          <hr class="white">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="text6">
          Copyright is a fundamental concept that plays a vital role in protecting the intellectual property of
          creators,
          artists, and innovators. It is a legal mechanism designed to safeguard their original works from unauthorized
          use, reproduction, or distribution. In an increasingly digital world, where information and content are easily
          accessible, understanding copyright is crucial for both creators and consumers. This article explores the
          essence of copyright, its historical context, and its relevance in the modern era.
          <br><br>
          <span class="bold">What is Copyright?</span>
          <br><br>
          Copyright is a legal framework that grants creators and authors exclusive rights over their original works,
          allowing them to control how their creations are used. These rights typically include the authority to
          reproduce, distribute, display, and adapt the work. Copyright is an essential mechanism that encourages
          innovation and creativity by providing creators with the assurance that their efforts will be protected and
          rewarded.
          <br><br>
          <span class="bold">The History of Copyright</span>
          <br><br>
          The concept of copyright has deep historical roots. The earliest forms of copyright date back to ancient
          civilizations like the Roman Empire, where authors and publishers were granted exclusive rights to reproduce
          their works. Over the centuries, various iterations of copyright laws emerged, evolving into the modern
          copyright system we know today.
          <br><br>
          The first Copyright Act in the United States, for example, was passed in 1790, granting creators the exclusive
          right to their works for 14 years, with the option to renew for another 14 years if they were still alive.
          This
          Act laid the foundation for the contemporary copyright system, which has since expanded and adapted to
          accommodate technological advancements.
        </div>
        <img src="r8Pro/image 14.svg" class="mt-5 img4">
        <div class="text6 mx-auto mt-4">
          The first Copyright Act in the United States, for example, was passed in 1790, granting creators the exclusive
          right to their works for 14 years, with the option to renew for another 14 years if they were still alive.
          This
          Act laid the foundation for the contemporary copyright system, which has since expanded and adapted to
          accommodate technological advancements.
          <div class="card1 my-5">
            <button class="btn1 white">tags</button>
            <button class="btn1 white">tags</button>
            <button class="btn1 white">tags</button>
            <button class="btn1 white">tags</button>
          </div>




          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="card2">
                <img src="r8Pro/Rectangle 1077.svg" class="rounded-top-5 ">
                <span class="text7 p-3">Navigating the AI Landscape: A Closer Look at Our Diverse Toolset</span>
                <div class="d-flex justify-content-between mx-3">
                  <div class="">
                    <img src="r8Pro/chats-teardrop-thin 1.svg">
                    <img src="r8Pro/heart-thin 1.svg">
                  </div>
                  <div class="">
                    <img src="r8Pro/bookmark-thin 1.svg">
                  </div>
                </div>
              </div>
              <div class="card2 mt-4">
                <img src="r8Pro/Rectangle 1077 (2).svg" class="rounded-top-5 ">
                <span class="text7 p-3">Security in Focus: Safeguarding User Data in Our AI Ecosystem</span>
                <div class="d-flex justify-content-between mx-3">
                  <div class="">
                    <img src="r8Pro/chats-teardrop-thin 1.svg">
                    <img src="r8Pro/heart-thin 1.svg">
                  </div>
                  <div class="">
                    <img src="r8Pro/bookmark-thin 1.svg">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="card2">
                <img src="r8Pro/Rectangle 1077 (1).svg" class="rounded-top-5 ">
                <span class="text7 p-3">Unlocking the Power of AI: Your Guide to Trial Versions and Pricing</span>
                <div class="d-flex justify-content-between mx-3">
                  <div class="">
                    <img src="r8Pro/chats-teardrop-thin 1.svg">
                    <img src="r8Pro/heart-thin 1.svg">
                  </div>
                  <div class="">
                    <img src="r8Pro/bookmark-thin 1.svg">
                  </div>
                </div>
              </div>
              <div class="card2 mt-4">
                <img src="r8Pro/Rectangle 1077 (3).svg" class="rounded-top-5 ">
                <span class="text7 p-3">Community Chronicles: Engaging in Collaborative AI Discussions</span>
                <div class="d-flex justify-content-between mx-3">
                  <div class="">
                    <img src="r8Pro/chats-teardrop-thin 1.svg">
                    <img src="r8Pro/heart-thin 1.svg">
                  </div>
                  <div class="">
                    <img src="r8Pro/bookmark-thin 1.svg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col position-relative d-flex justify-content-center align-items-center" style="overflow: hidden;">
        <img src="r8Pro/Gradient_14 1.svg" class="w-85">
        <div class="position-absolute top-0 start-0 w-100 h-100"
          style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.17) 0%, rgba(0, 0, 0, 0.74) 100%);"></div>
        <div class="position-absolute bottom-0 start-50 translate-middle text-center">
          <span class="text2 fw-bold text-nowrap">Brand</span>
          <div class="d-flex flex-column mt-5">
            <span class="text3">All Rights Reserved</span>
            <span class="text3 my-5">Terms and Conditions</span>
            <span class="text3">Terms and Conditions</span>
            <span class="text3 mt-5">Privacy Policy</span>
          </div>
          <div class="d-flex justify-content-between mt-5 ">
            <img src="r8Pro/Facebook.svg" class="">
            <img src="r8Pro/Twitter.svg" class="">
            <img src="r8Pro/Instagram.svg" class="">
            <img src="r8Pro/LinkedIn.svg" class="">
            <img src="r8Pro/YouTube.svg" class="">
          </div>
        </div>
        <div class="position-absolute bottom-0 start-0 m-3">
          <p-select [options]="language" optionLabel="name" placeholder="English" class="w-full md:w-56 white" />
        </div>
      </div>
    </div>
  </div>


</div>