<div class="container d-flex justify-content-center align-items-center vh-100">
  <img src="totxt/bg.svg" class="w-100 position-absolute" style="z-index: 1; top: 0; left: 0;">

  <div class="card" style="z-index: 2;">
    <div class="card1">
      <div class="card3">
        <span class="text1">Email Conformation</span>
        <span class="text2">Insert Email you got form us</span>
      </div>
      <div class="card2">
        <input type="password" class="input" id="password" required placeholder="Confermaion Code">
        <span class="text3">Already Have an
          <a routerLink="/totxt/login" class="text4">account?</a>
        </span>
      </div>
      <button type="submit" class="btnLogin w-100" (click)="navigateToEmailConfirmation()">
        Continue
      </button>
    </div>
  </div>
</div>