<div class="container-fluid largItem">
  <div class="row">
    <div class="col position-relative d-flex justify-content-center align-items-center" style="overflow: hidden;">
      <img src="r8Pro/Gradient_10 1.svg" class="w-100">

      <div class="d-flex justify-content-between m-4 position-absolute top-0 start-0 w-100">
        <span class="text111">r8.pro</span>
        <p-megamenu [model]="items" class="me-5" />
      </div>

      <div class="position-absolute top-50 start-50 translate-middle text-center" style="z-index: 10;">
        <div class="text0 margin4" style="z-index: 20; position: relative;">Elevating Your Content Game</div>

        <div class="row">
          <div class="col position-relative" style="overflow: hidden;">
            <img src="r8Pro/Group 47896.svg" class="w-100 blur">
            <div class="position-absolute top-50 start-50 translate-middle text-center">
              <span class="text2 text-nowrap">Your Gateway to AI Excellence</span>
              <div class="mt-3 d-flex flex-column flex-md-row justify-content-center">
                <button class="btn1 me-md-4 mb-3 mb-md-0">
                  <div class="d-flex">
                    <img src="r8Pro/check-fat-fill (2) 1.svg">
                    <span class="m-2">Start now</span>
                  </div>
                </button>
                <button class="btn2 me-md-4 mb-3 mb-md-0">
                  <div class="d-flex">
                    <img src="r8Pro/basket-fill 1.svg">
                    <span class="m-2">See plans</span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row margin3 marginY">
    <div class="col position-relative d-flex justify-content-center align-items-center" style="overflow: hidden;">
      <img src="r8Pro/Gradient_27 1.svg" class="w-50">
      <div class="position-absolute top-50 start-50 translate-middle-x text-center">
        <div class="row">
          <div class="col position-relative" style="overflow: hidden;">
            <img src="r8Pro/Group 47896 (1).svg" class="w-100 blur">
            <div class="position-absolute top-50 start-50 translate-middle text-center">
              <div class="text1 text-nowrap">Features Services</div>
              <span class="text22 text-nowrap">An answer to all your needs</span>
            </div>
          </div>
        </div>
      </div>
      <div class="position-absolute bottom-0 start-0 flex-wrap ">
        <div class="row content-section marginbottom1">
          <div class="col-3">
            <div class="d-flex flex-column align-items-start me-4">
              <img src="r8Pro/shopping-cart-duotone 1.svg">
              <span class="text4 bold">Tool Marketplace</span>
              <span class="text3">A centralized marketplace showcasing</span>
            </div>
          </div>
          <div class="col-3">
            <div class="d-flex flex-column align-items-start me-4">
              <img src="r8Pro/gauge-duotone 1.svg">
              <span class="text4 bold">Dashboards</span>
              <span class="text3">Personalized user profiles and dashboards</span>
            </div>
          </div>
          <div class="col-3">
            <div class="d-flex flex-column align-items-end justify-content-end">
              <img src="r8Pro/bezier-curve-duotone 1.svg">
              <span class="text4 bold">Interactive Demos</span>
              <span class="text3">Analytics tools providing insights into tool usage</span>
            </div>
          </div>
          <div class="col-3">
            <div class="d-flex flex-column align-items-end ms-4">
              <img src="r8Pro/code-duotone 1.svg">
              <span class="text4 bold">Integration APIs</span>
              <span class="text3">Application Programming Interfaces (APIs)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row marginY">
    <div class="col position-relative d-flex justify-content-center align-items-center" style="overflow: hidden;">
      <img src="r8Pro/Gradient_29 1.svg" class="w-50">
      <div class="position-absolute top-50 start-50 translate-middle-x ">
        <div class="row">
          <div class="col position-relative" style="overflow: hidden;">
            <img src="r8Pro/Group 47896 (1).svg" class="w-100 blur">
            <div class="position-absolute top-50 start-50 translate-middle ">
              <div class="text1 text-nowrap">Social media</div>
              <div class="mt-3 d-flex flex-column text3">
                <ol>
                  <li class="text-nowrap">sharing your content with our official social media accounts, you grant us
                    permission to repost,<br>
                    share, or feature your
                    content with proper attribution. We respect your creativity and will <br> always credit you.</li>
                  <li> Privacy Matters: We prioritize your privacy. We will never share your personal information
                    without your consent. Be
                    cautious about sharing sensitive information in the comments or direct messages.</li>
                </ol>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="position-absolute bottom-0 start-0 w-100">
        <div class="row content-section">
          <div class="col d-flex justify-content-center">
            <div class="card1">
              <button class="btn3">
                <img src="r8Pro/microphone-fill 1.svg">
                Music Platforms</button>
              <button class="btn3">
                <img src="r8Pro/chats-fill 1.svg">
                Social Media</button>
              <button class="btn3">
                <img src="r8Pro/video-fill 1.svg">
                Video Platforms</button>
              <button class="btn3">
                <img src="r8Pro/google-logo-fill 1.svg">
                Search Platforms</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row marginY">
    <div class="col position-relative d-flex justify-content-center align-items-center mb-5" style="overflow: hidden;">
      <img src="r8Pro/Gradient_10 2.svg" class="w-50">
      <div class="position-absolute top-50 start-50 translate-middle-x ">
        <div class="row">
          <div class="col position-relative" style="overflow: hidden;">
            <img src="r8Pro/Group 47896 (1).svg" class="w-100 blur">
            <div class="position-absolute top-50 start-50 translate-middle ">
              <div class="text1 text-nowrap">Get Started Today!</div>
              <div class="mt-3 d-flex flex-column text3 text-nowrap">
                sharing your content with our official social media accounts, you grant us permission to repost, <br>
                share,
                or feature your
                content with proper attribution. We respect your creativity and will always <br> credit you
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="position-absolute bottom-0 start-0 w-100 mb-5">
        <div class="row content-section mb-5">
          <div class="col d-flex justify-content-center">
            <div class="mt-3">
              <button class="btn1">
                <div class="d-flex">
                  <img src="r8Pro/check-fat-fill (2) 1.svg">
                  <span class="m-2">Start now</span>
                </div>
              </button>
              <button class="btn2">
                <div class="d-flex">
                  <img src="r8Pro/basket-fill 1.svg">
                  <span class="m-2">See plans</span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row marginY">
    <div class="col">
      <div class="d-flex justify-content-center flex-column mt-5 text-center">
        <span class="text1">More about us</span>
        <span class="text22 mb-5">An answer to all your needs</span>
      </div>
      <div class="row g-4 margin1">
        <div class="col-lg-4">
          <div class="card2 h-100 d-flex flex-column justify-content-between">
            <div class="p-4 pb-0">
              <span class="text2 fs-2 ">Choose Your Tools</span>
              <span class="text3 mt-2 d-block">
                Explore our Tool Marketplace to select the right tools that fit your content needs, whether it’s for
                SEO,
                copywriting optimization, or analytics.
              </span>
            </div>
            <img src="r8Pro/Marble-spheres-textures-18.svg" class="mt-3  w-100 rounded" alt="Tools Image" style="background: url(<path-to-image>) rgb(0, 0, 0) -121.284px -30.317px / 155.763% 113.355% no-repeat;
mix-blend-mode: plus-lighter;">
          </div>
        </div>

        <div class="col-lg-8">
          <div class="d-flex flex-column h-100 gap-4">
            <div class="card2 pb-4">
              <div class="d-flex align-items-center gap-4">
                <div class="d-flex flex-column align-items-start flex-grow-1 p-4">
                  <span class="text2 fs-2">Customize Your Experience</span>
                  <span class="text3 mt-2 d-block">
                    With Personalized Dashboards, track your progress and get insights on your content performance. Set
                    goals, monitor your data, and refine your strategy.
                  </span>
                </div>
                <img src="r8Pro/Marble-spheres-textures-17.svg" class="w-25 rounded" alt="Customize Image" style="background: url(<path-to-image>) rgb(0, 0, 0) -121.284px -30.317px / 155.763% 113.355% no-repeat;
mix-blend-mode: plus-lighter;">
              </div>
            </div>

            <div class="card2 pt-4">
              <div class="d-flex align-items-center gap-4">
                <div class="d-flex flex-column align-items-start flex-grow-1 p-4">
                  <span class="text2 fs-2 ">Integrate and Automate</span>
                  <span class="text3 mt-2 d-block">
                    Our APIs make it easy to integrate with your existing systems, allowing you to automate your
                    workflow
                    and focus on what matters most—creating impactful content.
                  </span>
                </div>
                <img src="r8Pro/Marble-spheres-textures-172.svg" class="w-25 rounded" alt="Integrate Image" style="background: url(<path-to-image>) rgb(0, 0, 0) -121.284px -30.317px / 155.763% 113.355% no-repeat;
mix-blend-mode: plus-lighter;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row marginY">
    <div class="col position-relative d-flex justify-content-center align-items-center margin1"
      style="overflow: hidden;">
      <img src="r8Pro/Gradient_30 1.svg" class="w-85">

      <div class="position-absolute top-25 start-50 translate-middle text-center">
        <div class="text1 mb-5">frequency asked questions</div>
      </div>

      <div class="position-absolute bottom-0 start-0 m-5">
        <div class="row">
          <div class="col-12">
            <p-accordion value="0" [multiple]="true">
              <p-accordion-panel value="0" class="accordin1">
                <p-accordion-header>1. What AI tools do you offer?</p-accordion-header>
                <p-accordion-content>
                  <p class="m-0 open2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.
                  </p>
                </p-accordion-content>
              </p-accordion-panel>

              <p-accordion-panel value="1" class="accordin1">
                <p-accordion-header>2. Can users access trial versions?</p-accordion-header>
                <p-accordion-content>
                  <p class="m-0 open2">
                    sharing your content with our official social media accounts, you grant us permission to repost,
                    share, or
                    feature your
                    content with proper attribution. We respect your creativity and will always credit you.
                    Privacy Matters: We prioritize your privacy. We will never share your personal information without
                    your
                    consent. Be
                    cautious about sharing sensitive information in the comments or direct messages.
                  </p>
                </p-accordion-content>
              </p-accordion-panel>

              <p-accordion-panel value="2" class="accordin1">
                <p-accordion-header>3. What's the pricing structure for premium versions features?</p-accordion-header>
                <p-accordion-content>
                  <p class="m-0 open2">
                    hi
                  </p>
                </p-accordion-content>
              </p-accordion-panel>

              <p-accordion-panel value="3" class="accordin1">
                <p-accordion-header>4. How is user data secured?</p-accordion-header>
                <p-accordion-content>
                  <p class="m-0 open2">
                    hi
                  </p>
                </p-accordion-content>
              </p-accordion-panel>

              <p-accordion-panel value="4" class="accordin1">
                <p-accordion-header>5. Is there a community forum for users tool applications?</p-accordion-header>
                <p-accordion-content>
                  <p class="m-0 open2">
                    hi
                  </p>
                </p-accordion-content>
              </p-accordion-panel>
            </p-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row marginY">
    <div class="col position-relative d-flex justify-content-center align-items-center mb-5" style="overflow: hidden;">
      <img src="r8Pro/Gradient_14 2.svg" class="w-50">
      <div class="position-absolute top-50 start-50 translate-middle-x ">
        <div class="row">
          <div class="col position-relative" style="overflow: hidden;">
            <img src="r8Pro/Group 47896 (1).svg" class="w-100 blur">
            <div class="position-absolute top-50 start-50 translate-middle ">
              <div class="text1 text-nowrap">contact us</div>
              <div class="m-2 d-flex flex-column text3">
                <div class="d-flex">
                  <input type="text" placeholder="Your Name" class="input1 m-2 p-3 white-placeholder">
                  <input type="email" placeholder="Email Address" class="input1 m-2 p-3 white-placeholder">
                </div>
                <input type="number" placeholder="Your Phone Number" class="input1 m-2 p-3 white-placeholder">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="position-absolute bottom-0 start-0 w-100 mb-5">
        <div class="row content-section">
          <div class="col d-flex justify-content-center">
            <div class="">
              <button class="btn1">
                <div class="d-flex">
                  <img src="r8Pro/paper-plane-tilt-fill 1.svg">
                  <span class="m-2">Submit Request</span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col position-relative d-flex justify-content-center align-items-center" style="overflow: hidden;">
      <img src="r8Pro/Gradient_14 1.svg" class="w-85">
      <div class="position-absolute top-0 start-0 w-100 h-100"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.17) 0%, rgba(0, 0, 0, 0.74) 100%);"></div>
      <div class="position-absolute bottom-0 start-50 translate-middle text-center">
        <span class="text2 fw-bold text-nowrap">R8.pro</span>
        <div class="d-flex justify-content-between mt-5">
          <span class="text3">All Rights Reserved</span>
          <span class="text3 mx-5">Terms and Conditions</span>
          <span class="text3">Terms and Conditions</span>
          <span class="text3 ms-5">Privacy Policy</span>
        </div>
        <div class="d-flex justify-content-between mt-5 margin2">
          <img src="r8Pro/Facebook.svg" class="">
          <img src="r8Pro/Twitter.svg" class="">
          <img src="r8Pro/Instagram.svg" class="">
          <img src="r8Pro/LinkedIn.svg" class="">
          <img src="r8Pro/YouTube.svg" class="">
        </div>
      </div>
      <div class="position-absolute bottom-0 start-0 m-3">
        <p-select [options]="language" optionLabel="name" placeholder="English" class="w-full md:w-56 white" />
      </div>
    </div>
  </div>


</div>






<div class="container-fluid mediumItem">

  <div class="row">
    <div class="col position-relative d-flex justify-content-center align-items-center" style="overflow: hidden;">
      <img src="r8Pro/Gradient_10 1.svg" class="w-100">

      <div class="d-flex justify-content-between m-4 position-absolute top-0 start-0 w-100">
        <span class="text111">r8.pro</span>
        <p-megamenu [model]="items" class="me-5" />
      </div>

      <div class="position-absolute top-50 start-50 translate-middle text-center" style="z-index: 10;">
        <div class="text0 margin4" style="z-index: 20; position: relative;">Elevating Your Content Game</div>

        <div class="row">
          <div class="col position-relative" style="overflow: hidden;">
            <img src="r8Pro/Group 47896.svg" class="w-100 blur">
            <div class="position-absolute top-50 start-50 translate-middle text-center">
              <span class="text2 text-nowrap">Your Gateway to AI Excellence</span>
              <div class="mt-3 d-flex flex-column flex-md-row justify-content-center">
                <button class="btn1 me-md-4 mb-3 mb-md-0">
                  <div class="d-flex">
                    <img src="r8Pro/check-fat-fill (2) 1.svg">
                    <span class="m-2">Start now</span>
                  </div>
                </button>
                <button class="btn2 me-md-4 mb-3 mb-md-0">
                  <div class="d-flex">
                    <img src="r8Pro/basket-fill 1.svg">
                    <span class="m-2">See plans</span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="margin-bottom: 24%;">
    <div class="col position-relative d-flex flex-column justify-content-center align-items-center gap-3"
      style="overflow: hidden;">
      <img src="r8Pro/Gradient_27 1.svg" class="w-100">

      <div class="text1" style="margin-top: -50%;">Features Services</div>
      <span class="text2">An answer to all your needs</span>
      <div class="d-flex gap-5">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <img src="r8Pro/shopping-cart-duotone 1.svg">
          <span class="text4 bold">Tool Marketplace</span>
          <span class="text3">A centralized marketplace showcasing</span>
        </div>

        <div class="d-flex flex-column align-items-center">
          <img src="r8Pro/gauge-duotone 1.svg">
          <span class="text4 bold">Dashboards</span>
          <span class="text3">Personalized user profiles and dashboards</span>
        </div>
      </div>
      <div class="d-flex gap-5">
        <div class="d-flex flex-column align-items-center">
          <img src="r8Pro/bezier-curve-duotone 1.svg">
          <span class="text4 bold">Interactive Demos</span>
          <span class="text3">Analytics tools providing insights into tool usage</span>
        </div>

        <div class="d-flex flex-column align-items-center">
          <img src="r8Pro/code-duotone 1.svg">
          <span class="text4 bold">Integration APIs</span>
          <span class="text3">Application Programming Interfaces (APIs)</span>
        </div>
      </div>

    </div>
  </div>


  <div class="row marginY">
    <div class="col d-flex flex-column justify-content-center align-items-center" style="overflow: hidden;">
      <img src="r8Pro/Gradient_29 1.svg" class="w-100">
      <div class="text1" style="margin-top: -30%;">Social media</div>
      <div class="mt-3 d-flex flex-column text3 mx-5">
        <ol>
          <li>sharing your content with our official social media accounts, you grant us
            permission to repost,<br>
            share, or feature your
            content with proper attribution. We respect your creativity and will <br> always credit you.</li>
          <li> Privacy Matters: We prioritize your privacy. We will never share your personal information
            without your consent. Be
            cautious about sharing sensitive information in the comments or direct messages.</li>
        </ol>
      </div>
      <div class="card11 flex-column">
        <div class="d-flex gap-5">
          <button class="btn3">
            <img src="r8Pro/microphone-fill 1.svg">
            Music Platforms</button>
          <button class="btn3">
            <img src="r8Pro/chats-fill 1.svg">
            Social Media</button>
        </div>
        <div class="d-flex gap-5">
          <button class="btn3">
            <img src="r8Pro/video-fill 1.svg">
            Video Platforms</button>
          <button class="btn3">
            <img src="r8Pro/google-logo-fill 1.svg">
            Search Platforms</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="margin-top: 40%; margin-bottom: 54%;">
    <div class="col d-flex flex-column justify-content-center align-items-center gap-4">
      <img src="r8Pro/Gradient_10 2.svg" class="w-100">
      <div class="text1" style="margin-top: -60%;">Get Started Today!</div>
      <div class="text3 mx-5">
        sharing your content with our official social media accounts, you grant us permission to repost,
        share, or feature your
        content with proper attribution. We respect your creativity and will always credit you
      </div>
      <div class="d-flex gap-4">
        <button class="btn1">
          <div class="d-flex gap-3 p-2">
            <img src="r8Pro/check-fat-fill (2) 1.svg">
            <span>Start now</span>
          </div>
        </button>
        <button class="btn2">
          <div class="d-flex gap-3 p-2">
            <img src="r8Pro/basket-fill 1.svg">
            <span>See plans</span>
          </div>
        </button>
      </div>
    </div>
  </div>


  <div class="row marginY">
    <div class="col">
      <div class="d-flex justify-content-center flex-column mt-5 text-center">
        <span class="text1">More about us</span>
        <span class="text22 mb-5">An answer to all your needs</span>
      </div>
      <div class="row g-4 margin1">
        <div class="col-lg-4">
          <div class="card2 h-100 d-flex flex-column justify-content-between">
            <div class="p-4 pb-0">
              <span class="text2 fs-2 ">Choose Your Tools</span>
              <span class="text3 mt-2 d-block">
                Explore our Tool Marketplace to select the right tools that fit your content needs, whether it’s for
                SEO,
                copywriting optimization, or analytics.
              </span>
            </div>
            <img src="r8Pro/Marble-spheres-textures-18.svg" class="mt-3  w-100 rounded" alt="Tools Image" style="background: url(<path-to-image>) rgb(0, 0, 0) -121.284px -30.317px / 155.763% 113.355% no-repeat;
mix-blend-mode: plus-lighter;">
          </div>
        </div>

        <div class="col-lg-8">
          <div class="d-flex flex-column h-100 gap-4">
            <div class="card2 pb-4">
              <div class="d-flex align-items-center gap-4">
                <div class="d-flex flex-column align-items-start flex-grow-1 p-4">
                  <span class="text2 fs-2">Customize Your Experience</span>
                  <span class="text3 mt-2 d-block">
                    With Personalized Dashboards, track your progress and get insights on your content performance. Set
                    goals, monitor your data, and refine your strategy.
                  </span>
                </div>

              </div>
            </div>

            <div class="card2 pt-4">
              <div class="d-flex align-items-center gap-4">
                <div class="d-flex flex-column align-items-start flex-grow-1 p-4">
                  <span class="text2 fs-2 ">Integrate and Automate</span>
                  <span class="text3 mt-2 d-block">
                    Our APIs make it easy to integrate with your existing systems, allowing you to automate your
                    workflow
                    and focus on what matters most—creating impactful content.
                  </span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row marginY">
    <div class="col">
      <div class="text1 mt-5">frequency asked questions</div>

      <p-accordion value="0" [multiple]="true">
        <p-accordion-panel value="0" class="accordin1">
          <p-accordion-header>1. What AI tools do you offer?</p-accordion-header>
          <p-accordion-content>
            <p class="m-0 open2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et
              dolore magna aliqua.
            </p>
          </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="1" class="accordin1">
          <p-accordion-header>2. Can users access trial versions?</p-accordion-header>
          <p-accordion-content>
            <p class="m-0 open2">
              sharing your content with our official social media accounts, you grant us permission to repost,
              share, or
              feature your
              content with proper attribution. We respect your creativity and will always credit you.
              Privacy Matters: We prioritize your privacy. We will never share your personal information without
              your
              consent. Be
              cautious about sharing sensitive information in the comments or direct messages.
            </p>
          </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="2" class="accordin1">
          <p-accordion-header>3. What's the pricing structure for premium versions features?</p-accordion-header>
          <p-accordion-content>
            <p class="m-0 open2">
              hi
            </p>
          </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="3" class="accordin1">
          <p-accordion-header>4. How is user data secured?</p-accordion-header>
          <p-accordion-content>
            <p class="m-0 open2">
              hi
            </p>
          </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="4" class="accordin1">
          <p-accordion-header>5. Is there a community forum for users tool applications?</p-accordion-header>
          <p-accordion-content>
            <p class="m-0 open2">
              hi
            </p>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </div>
  </div>



  <div class="row marginY">
    <div class="col">
      <img src="r8Pro/Gradient_14 2.svg" class="w-100">
      <div class="text1" style="margin-top: -45%;">contact us</div>
      <div class="m-2 d-flex flex-column text3 gap-3">
        <input type="text" placeholder="Your Name" class="input1 p-3 white-placeholder">
        <input type="email" placeholder="Email Address" class="input1 p-3 white-placeholder">
        <input type="number" placeholder="Your Phone Number" class="input1 p-3 white-placeholder">
      </div>
      <div class=" w-100 mb-5">
        <div class="d-flex justify-content-center">
          <button class="btn1">
            <div class="d-flex">
              <img src="r8Pro/paper-plane-tilt-fill 1.svg">
              <span class="m-2">Submit Request</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>



<div class="row">
  <div class="col position-relative d-flex justify-content-center align-items-center" style="overflow: hidden;">
    <img src="r8Pro/Gradient_14 1.svg" class="w-85">
    <div class="position-absolute top-0 start-0 w-100 h-100"
      style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.17) 0%, rgba(0, 0, 0, 0.74) 100%);"></div>
    <div class="position-absolute bottom-0 start-50 translate-middle text-center">
      <span class="text2 fw-bold text-nowrap">R8.pro</span>
      <div class="d-flex justify-content-between mt-5">
        <span class="text3">All Rights Reserved</span>
        <span class="text3 mx-5">Terms and Conditions</span>
        <span class="text3">Terms and Conditions</span>
        <span class="text3 ms-5">Privacy Policy</span>
      </div>
      <div class="d-flex justify-content-between mt-5 margin2">
        <img src="r8Pro/Facebook.svg" class="">
        <img src="r8Pro/Twitter.svg" class="">
        <img src="r8Pro/Instagram.svg" class="">
        <img src="r8Pro/LinkedIn.svg" class="">
        <img src="r8Pro/YouTube.svg" class="">
      </div>
    </div>
    <div class="position-absolute bottom-0 start-0 m-3">
      <p-select [options]="language" optionLabel="name" placeholder="English" class="w-full md:w-56 white" />
    </div>
  </div>
</div>

</div>






<div class="container-fluid mobileItem">

  <div class="row">
    <div class="col d-flex flex-column justify-content-center align-items-center">
      <img src="r8Pro/Gradient_10 1.svg" class="w-100">
      <div class="d-flex justify-content-between w-100" style="margin-top: -60%;">
        <span class="text111">r8.pro</span>
        <p-megamenu [model]="items" />
      </div>
      <div class="text1 mt-5">Elevating Your Content Game</div>
      <span class="text2 text-nowrap">Your Gateway to AI Excellence</span>
      <div class="mt-3 d-flex flex-column justify-content-center">
        <button class="btn1 mb-2 p-1">
          <div class="d-flex gap-3">
            <img src="r8Pro/check-fat-fill (2) 1.svg">
            <span class="">Start now</span>
          </div>
        </button>
        <button class="btn2">
          <div class="d-flex gap-3 p-1">
            <img src="r8Pro/basket-fill 1.svg">
            <span class="">See plans</span>
          </div>
        </button>
      </div>
    </div>
  </div>


  <div class="row" style="margin-top: 28%; margin-bottom: 54%;">
    <div class="col position-relative d-flex flex-column justify-content-center align-items-center gap-3"
      style="overflow: hidden;">
      <img src="r8Pro/Gradient_27 1.svg" class="w-100">

      <div class="text1" style="margin-top: -50%;">Features Services</div>
      <span class="text2">An answer to all your needs</span>

      <div class="d-flex flex-column align-items-center justify-content-center">
        <img src="r8Pro/shopping-cart-duotone 1.svg">
        <span class="text4 bold">Tool Marketplace</span>
        <span class="text3">A centralized marketplace showcasing</span>
      </div>

      <div class="d-flex flex-column align-items-center">
        <img src="r8Pro/gauge-duotone 1.svg">
        <span class="text4 bold">Dashboards</span>
        <span class="text3">Personalized user profiles and dashboards</span>
      </div>

      <div class="d-flex flex-column align-items-center">
        <img src="r8Pro/bezier-curve-duotone 1.svg">
        <span class="text4 bold">Interactive Demos</span>
        <span class="text3">Analytics tools providing insights into tool usage</span>
      </div>

      <div class="d-flex flex-column align-items-center">
        <img src="r8Pro/code-duotone 1.svg">
        <span class="text4 bold">Integration APIs</span>
        <span class="text3">Application Programming Interfaces (APIs)</span>
      </div>


    </div>
  </div>


  <div class="row marginY">
    <div class="col d-flex flex-column justify-content-center align-items-center" style="overflow: hidden;">
      <img src="r8Pro/Gradient_29 1.svg" class="w-100">
      <div class="text1" style="margin-top: -30%;">Social media</div>
      <div class="mt-3 d-flex flex-column text3">
        <ol>
          <li class="">sharing your content with our official social media accounts, you grant us
            permission to repost,<br>
            share, or feature your
            content with proper attribution. We respect your creativity and will <br> always credit you.</li>
          <li> Privacy Matters: We prioritize your privacy. We will never share your personal information
            without your consent. Be
            cautious about sharing sensitive information in the comments or direct messages.</li>
        </ol>
      </div>
      <div class="card11 flex-column">
        <button class="btn3">
          <img src="r8Pro/microphone-fill 1.svg">
          Music Platforms</button>
        <button class="btn3">
          <img src="r8Pro/chats-fill 1.svg">
          Social Media</button>
        <button class="btn3">
          <img src="r8Pro/video-fill 1.svg">
          Video Platforms</button>
        <button class="btn3">
          <img src="r8Pro/google-logo-fill 1.svg">
          Search Platforms</button>
      </div>
    </div>
  </div>


  <div class="row" style="margin-top: 40%; margin-bottom: 54%;">
    <div class="col d-flex flex-column justify-content-center align-items-center gap-4">
      <img src="r8Pro/Gradient_10 2.svg" class="w-100">
      <div class="text1" style="margin-top: -60%;">Get Started Today!</div>
      <div class="text3">
        sharing your content with our official social media accounts, you grant us permission to repost,
        share, or feature your
        content with proper attribution. We respect your creativity and will always credit you
      </div>
      <button class="btn1">
        <div class="d-flex gap-3 p-1">
          <img src="r8Pro/check-fat-fill (2) 1.svg">
          <span>Start now</span>
        </div>
      </button>
      <button class="btn2">
        <div class="d-flex gap-3 p-1">
          <img src="r8Pro/basket-fill 1.svg">
          <span>See plans</span>
        </div>
      </button>
    </div>
  </div>


  <div class="row marginY">
    <div class="col">
      <div class="d-flex justify-content-center flex-column mt-5 text-center">
        <span class="text1">More about us</span>
        <span class="text22 mb-5">An answer to all your needs</span>
      </div>
      <div class="row g-4 margin1">
        <div class="col-lg-4">
          <div class="card2 h-100 d-flex flex-column justify-content-between">
            <div class="p-4 pb-0">
              <span class="text2 fs-2 ">Choose Your Tools</span>
              <span class="text3 mt-2 d-block">
                Explore our Tool Marketplace to select the right tools that fit your content needs, whether it’s for
                SEO,
                copywriting optimization, or analytics.
              </span>
            </div>
            <img src="r8Pro/Marble-spheres-textures-18.svg" class="mt-3  w-100 rounded" alt="Tools Image" style="background: url(<path-to-image>) rgb(0, 0, 0) -121.284px -30.317px / 155.763% 113.355% no-repeat;
mix-blend-mode: plus-lighter;">
          </div>
        </div>

        <div class="col-lg-8">
          <div class="d-flex flex-column h-100 gap-4">
            <div class="card2 pb-4">
              <div class="d-flex align-items-center gap-4">
                <div class="d-flex flex-column align-items-start flex-grow-1 p-4">
                  <span class="text2 fs-2">Customize Your Experience</span>
                  <span class="text3 mt-2 d-block">
                    With Personalized Dashboards, track your progress and get insights on your content performance. Set
                    goals, monitor your data, and refine your strategy.
                  </span>
                </div>

              </div>
            </div>

            <div class="card2 pt-4">
              <div class="d-flex align-items-center gap-4">
                <div class="d-flex flex-column align-items-start flex-grow-1 p-4">
                  <span class="text2 fs-2 ">Integrate and Automate</span>
                  <span class="text3 mt-2 d-block">
                    Our APIs make it easy to integrate with your existing systems, allowing you to automate your
                    workflow
                    and focus on what matters most—creating impactful content.
                  </span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row marginY">
    <div class="col">
      <div class="text1 mt-5">frequency asked questions</div>

      <p-accordion value="0" [multiple]="true">
        <p-accordion-panel value="0" class="accordin1">
          <p-accordion-header>1. What AI tools do you offer?</p-accordion-header>
          <p-accordion-content>
            <p class="m-0 open2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et
              dolore magna aliqua.
            </p>
          </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="1" class="accordin1">
          <p-accordion-header>2. Can users access trial versions?</p-accordion-header>
          <p-accordion-content>
            <p class="m-0 open2">
              sharing your content with our official social media accounts, you grant us permission to repost,
              share, or
              feature your
              content with proper attribution. We respect your creativity and will always credit you.
              Privacy Matters: We prioritize your privacy. We will never share your personal information without
              your
              consent. Be
              cautious about sharing sensitive information in the comments or direct messages.
            </p>
          </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="2" class="accordin1">
          <p-accordion-header>3. What's the pricing structure for premium versions features?</p-accordion-header>
          <p-accordion-content>
            <p class="m-0 open2">
              hi
            </p>
          </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="3" class="accordin1">
          <p-accordion-header>4. How is user data secured?</p-accordion-header>
          <p-accordion-content>
            <p class="m-0 open2">
              hi
            </p>
          </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="4" class="accordin1">
          <p-accordion-header>5. Is there a community forum for users tool applications?</p-accordion-header>
          <p-accordion-content>
            <p class="m-0 open2">
              hi
            </p>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </div>
  </div>



  <div class="row marginY">
    <div class="col">
      <img src="r8Pro/Gradient_14 2.svg" class="w-100">
      <div class="text1" style="margin-top: -45%;">contact us</div>
      <div class="m-2 d-flex flex-column text3 gap-3">
        <input type="text" placeholder="Your Name" class="input1 p-3 white-placeholder">
        <input type="email" placeholder="Email Address" class="input1 p-3 white-placeholder">
        <input type="number" placeholder="Your Phone Number" class="input1 p-3 white-placeholder">
      </div>
      <div class=" w-100 mb-5">
        <div class="d-flex justify-content-center">
          <button class="btn1">
            <div class="d-flex">
              <img src="r8Pro/paper-plane-tilt-fill 1.svg">
              <span class="m-2">Submit Request</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col position-relative d-flex justify-content-center align-items-center" style="overflow: hidden;">
      <img src="r8Pro/Gradient_14 1.svg" class="w-85">
      <div class="position-absolute top-0 start-0 w-100 h-100"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.17) 0%, rgba(0, 0, 0, 0.74) 100%);"></div>
      <div class="position-absolute">
        <span class="text6 text-nowrap">R8.pro</span>

        <div class="d-flex flex-column justify-content-between gap-4 mt-5">
          <span class="text3">All Rights Reserved</span>
          <span class="text3">Terms and Conditions</span>
          <span class="text3">Terms and Conditions</span>
          <span class="text3">Privacy Policy</span>
        </div>
        <div class="d-flex justify-content-between mt-5 gap-3">
          <img src="r8Pro/Facebook.svg">
          <img src="r8Pro/Twitter.svg">
          <img src="r8Pro/Instagram.svg">
          <img src="r8Pro/LinkedIn.svg">
          <img src="r8Pro/YouTube.svg">
        </div>
      </div>
    </div>
  </div>


</div>