<div class="container-fluid">

  <div class="row">
    <div class="col position-relative d-flex justify-content-center align-items-center" style="overflow: hidden;">
      <img src="r8Pro/Gradient_2 10.svg" class="w-100">
      <div class="d-flex justify-content-between m-4 position-absolute top-0 start-0 w-100">
        <p-megamenu [model]="items" />
        <img src="r8Pro/list-light 1.svg" class="listmenu">
      </div>
      <div class="position-absolute top-50 start-50 translate-middle text-center">
        <div class="text1">Services</div>
        <span class="text2 text-nowrap">Lorem ipsum dolor sit</span>
      </div>
    </div>
  </div>

  <div class="margin1">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center flex-column mb-5">
          <span class="text1 fs-1">Title for services</span>
          <span class="text2 my-5 fs-2">An answer to all your needs</span>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
              <div class="card2 pb-0 h-100">
                <span class="text4">Feature 1</span>
                <span class="text3">sharing your content with our official social media accounts, you grant us
                  permission
                  to repost, share, or feature your
                  content with proper attribution. We respect your creativity and will always credit you
                </span>
                <img src="r8Pro/Marble-spheres-textures-182.svg" class="img-fluid card-image" style="object-fit: cover; width: 100%; height: auto;background: url(<path-to-image>) rgb(0, 0, 0) -121.284px -30.317px / 155.763% 113.355% no-repeat;
mix-blend-mode: plus-lighter;">
              </div>
            </div>
            <div class="col-lg-8 col-md-6 col-12">
              <div class="d-flex flex-column h-100">
                <div class="card2 d-flex justify-content-start align-items-start mb-4 flex-grow-1 mt-lg-0 mt-md-0 mt-4">
                  <span class="text4">Feature 2</span>
                  <span class="text3">sharing your content with our official social media accounts, you grant us
                    permission to repost, share, or feature your
                    content with proper attribution. We respect your creativity and will always credit you
                  </span>
                </div>
                <div class="card2 d-flex justify-content-start align-items-start flex-grow-1">
                  <span class="text4">Feature 3</span>
                  <span class="text3">sharing your content with our official social media accounts, you grant us
                    permission to repost, share, or feature your
                    content with proper attribution. We respect your creativity and will always credit you
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col d-flex justify-content-center align-items-center flex-column">
        <div class="card2 mt-5">
          <span class="text1 fs-1">Copyright protection</span>
          <span class="text3 m-lg-5 m-md-5 m-2 mt-0">Protecting your content and brand in cyberspace platforms is Dej's
            specialty. By
            using its legal cooperation capacities
            with cyberspace platforms, Dej takes legal action against any misuse of content, brand and other items that
            were misused
            and illegally exploited on cyberspace platforms, as a result of which wrong pages are blocked or cases
            mentioned will be
            deleted.
            The working steps of this service are as follows:<br>
            Discovery<br>
            Using the capabilities of its legal team and technical system, Dej can identify and discover copyright
            violations on
            websites as soon as possible.</span>
        </div>
        <div class="card3 margin4">
          <div class="row g-3">
            <div class="col-6 col-md-3">
              <button class="btn3 w-100">
                <img class="img2" src="r8Pro/warning-fill (1) 1.svg">
                Copyright protection
              </button>
            </div>
            <div class="col-6 col-md-3">
              <button class="btn3 w-100">
                <img class="img2" src="r8Pro/Vector.svg">
                Brand counterfeiting
              </button>
            </div>
            <div class="col-6 col-md-3">
              <button class="btn3 w-100">
                <img class="img2" src="r8Pro/hand-fist-fill 1.svg">
                Reputation protection
              </button>
            </div>
            <div class="col-6 col-md-3">
              <button class="btn3 w-100">
                <img class="img2" src="r8Pro/certificate-fill 1.svg">
                Copyright certificate
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row card3sec">
    <div class="col position-relative d-flex justify-content-start align-items-start" style="overflow: hidden;">
      <img src="r8Pro/Gradient_29 12.svg" class="w-85 margin3">

      <div class="position-absolute top-50 start-50 translate-middle">
        <div class="card2 mt-5 position-relative marginbottom">
          <span class="text1 fs-3 text-nowrap">Cool title for Servies</span>
          <span class="text3 m-lg-5 m-md-3 m-2 mt-0">sharing your content with our official social media accounts, you
            grant us
            permission to repost, share, or feature your
            content with proper attribution. We respect your creativity and will always credit you</span>
        </div>
        <div class="card2 mt-5 position-relative">
          <span class="text1 fs-3 text-nowrap">Before & After Actions</span>
          <div class="row g-3">
            <div class="col-12 col-md-6">
              <div class="d-flex flex-column align-items-center">
                <img class="img3" src="r8Pro/Frame 48148.svg">
                <span class="text3 fw-bold">Before</span>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="d-flex flex-column align-items-center">
                <img class="img3" src="r8Pro/Frame 48148.svg">
                <span class="text3 fw-bold">After</span>
              </div>
            </div>
          </div>
        </div>

        <div
          class="card3 position-absolute start-50 translate-middle-x d-flex justify-content-center align-items-center ">
          <button class="btn4">
            <img src="r8Pro/music.svg">
            <span>Sound Cloud</span>
          </button>
          <button class="btn4">
            <img src="r8Pro/google.svg">
            Google play</button>
          <button class="btn4">
            <img src="r8Pro/spotify.svg">
            Spotify</button>
          <button class="btn4">
            <img src="r8Pro/youtube.svg">
            YouTube</button>
          <button class="btn4">
            <img src="r8Pro/telegram.svg">
            Telegram</button>
        </div>

      </div>
    </div>
  </div>


  <div class="row card4sec">
    <div class="col">

      <div class="card2 mt-5 marginbottom">
        <span class="text1 fs-3">Cool title for Servies</span>
        <span class="text3 m-lg-5 m-md-3 m-2 mt-0">sharing your content with our official social media accounts, you
          grant us
          permission to repost, share, or feature your
          content with proper attribution. We respect your creativity and will always credit you</span>
      </div>
      <div class="card2 mt-5 position-relative">
        <span class="text1 fs-3">Before & After Actions</span>
        <div class="row g-3">
          <div class="col-12 col-md-6">
            <div class="d-flex flex-column align-items-center">
              <img class="img3" src="r8Pro/Frame 48148.svg">
              <span class="text3 fw-bold">Before</span>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="d-flex flex-column align-items-center">
              <img class="img3" src="r8Pro/Frame 48148.svg">
              <span class="text3 fw-bold">After</span>
            </div>
          </div>
        </div>
      </div>


      <div
        class="card3 position-absolute start-50 translate-middle-x d-flex justify-content-center align-items-center ">
        <button class="btn4">
          <img src="r8Pro/music.svg">
          <span>Sound Cloud</span>
        </button>
        <button class="btn4">
          <img src="r8Pro/google.svg">
          Google play</button>
        <button class="btn4">
          <img src="r8Pro/spotify.svg">
          Spotify</button>
        <button class="btn4">
          <img src="r8Pro/youtube.svg">
          YouTube</button>
      </div>
    </div>
  </div>






  <div class="row">
    <div class="col position-relative d-flex justify-content-center align-items-center" style="overflow: hidden;">
      <img src="r8Pro/Gradient_14 1.svg" class="w-85">
      <div class="position-absolute top-0 start-0 w-100 h-100"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.17) 0%, rgba(0, 0, 0, 0.74) 100%);"></div>
      <div class="position-absolute bottom-0 start-50 translate-middle text-center">
        <span class="text2 fw-bold text-nowrap">R8.pro</span>
        <div class="d-flex justify-content-between mt-5">
          <span class="text3">All Rights Reserved</span>
          <span class="text3 mx-5">Terms and Conditions</span>
          <span class="text3">Terms and Conditions</span>
          <span class="text3 ms-5">Privacy Policy</span>
        </div>
        <div class="d-flex justify-content-between mt-5 margin2">
          <img src="r8Pro/Facebook.svg" class="">
          <img src="r8Pro/Twitter.svg" class="">
          <img src="r8Pro/Instagram.svg" class="">
          <img src="r8Pro/LinkedIn.svg" class="">
          <img src="r8Pro/YouTube.svg" class="">
        </div>
      </div>
      <div class="position-absolute bottom-0 start-0 m-3">
        <p-select [options]="language" optionLabel="name" placeholder="English" class="w-full md:w-56 white" />
      </div>
    </div>
  </div>


</div>