<div class="container-fluid">
  <div class="row">
    <div class="background1">
      <div class="col">
        <div class="d-flex justify-content-between m-4">
          <img src="webolution/Green-01 1.png">
          <span class="bold">Menu</span>
        </div>
        <div class="d-flex justify-content-between">
          <img class="img1" src="webolution/pic1.svg">
          <div class="d-flex flex-column align-items-center text1">
            <span class="fontMonaco">It's now 5 to 12 for SMBs and EPUs</span>
            <span class="fs-1 bold mt-3">How to make 30% more sales with</span>
            <span class="fs-1 bold mb-3"> your website in a few weeks</span>
            <span>And all this without having to do anything for it</span>
            <button class="btn1 my-3">When can I start?
              <img src="webolution/person-simple-run 1.png">
            </button>
          </div>
          <img class="img2" src="webolution/pic2.svg">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col background2">
      <div class="m-5">
        <div class="row">
          <div class="col-12">
            <div class="fs-3 m-4 mb-0">
              <span class=""> Before you turn up <img class="img3 me-2" src="webolution/Vector1.png"></span>
              <span class="">your nose in your mind while reading these lines and ask yourself:</span>
              <span class="text2">"How is that supposed to be possible?</span>
              <span> That would be too
                <span class="bgGreen bold">GOOD TO BE TRUE</span>
                , but: does it really work?"</span>
            </div>
            <span class="card1 fs-3 fst-italic">Yes, it does.</span>
            <div class="fs-3 m-4 mb-0">
              <span class=""> And it's also very simple: By improving your website in such a way that you don't just
                have
                isolated visitors who
                <span class="text2">"just want to see what's out there"</span>
                , but also attract customers who are
                <span class="bgGreen">willing to pay.</span></span>
            </div>
            <span class="text4 ">And no, you don't have any extra work with it.</span>
            <div class="d-flex justify-content-center">
              <div class="card2 mt-5">
                <img class="img3 mx-2" src="webolution/Vector.png">
                <span class="white fs-6 text-nowrap">All you have to do is enter your URL here</span>
                <img class="img3" src="webolution/arrow-left 1.png">
                <input class="card3 p-2 my-2" type="text" placeholder="URL">
                <img class="img3 mx-2" src="webolution/Vector.png">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card4 mt-5">
              <div class="row">
                <div class="col-8">
                  <div class="fs-5 mb-3">With us, there is an end to
                    <span class="bgGreen bold">LONG LOADING TIMES</span>
                    , where every interested party
                    voluntarily runs away, and 0815 texts that
                    require at most a half-hearted yawn. And a design that
                    <span class="fst-italic fw1">resembles your grandmother's bathroom</span>
                    tiles.
                  </div>
                  <div class="fs-5 mt-4">With your new website, we bring you the right customers you have always
                    <span class="bgGreen">wanted</span>
                    to
                    work with,
                    because your website now
                    meets all the requirements that
                    <span class="bold">EXIST</span>.
                  </div>
                  <button class="btn1 my-3">Do you want more sales soon?
                    <img src="webolution/person-simple-run 1.png">
                  </button>
                </div>
                <div class="col-4">
                  <img src="webolution/pic4.svg">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span class="card5 mt-4 h-100">
              But these visions of the future couldn't be further from reality at the moment, right?
            </span>
          </div>
          <div class="col-8">
            <div class="card6 mt-4 h-100">
              <div class="p-4">
                <span class="mt-4 lh-base">When you think about your <span class="bgWhite">website</span> right
                  now,
                  you are more likely to think of
                  other things, such as a queasy feeling in your stomach.
                  <span class="fst-italic">"I have one, but it's from the day before yesterday and perform?
                    <span class="bgWhite">Let's not do that."</span>
                  </span>
                  Or: "I've wanted to
                  create it for a long time", but the time to do so? Whatever it may be, the feeling is not a good one.
                  Because day in, day out, the daily work routine looks like this
                </span>
              </div>
              <img class="img3" src="webolution/pic1.png">

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="mt-5">
              <div class="row">
                <div class="col-8 d-flex align-items-center">
                  <div class="fs-5 mb-3">The alarm clock rings at <span class="bold">6 a.m.</span> You start the day by
                    processing
                    <span class="bold">cu<span class="bgGreen">stomer inquirie</span>s</span>,
                    followed by a quick check of the
                    accounting. In between, an urgent call that <span class="bold">REQUIRE YOUR FULL ATTENTION</span>.
                    Over lunch, you plan the
                    strategy for the next
                    week. In the afternoon, product development and employee training are on the agenda.<br> In the
                    evening,
                    after a long day,
                    there is a lack of <span class="bgGreen">time and energy</span> to take care of updating the
                    website.
                  </div>
                </div>
                <div class="col-4">
                  <img src="webolution/pic3.svg">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="mt-5">
              <div class="row">
                <div class="col-4">
                  <img src="webolution/pic5.svg">
                </div>
                <div class="col-8 d-flex align-items-center">
                  <div class="fs-5 mb-3"> <span class="bgGreen">So it's clear</span> that at the end of the day you
                    don't have any energy or time left
                    to take care of your aging website.
                    Thoughts like these then come to mind: "Hermann from IT can do that or, better yet, Andi, my nephew.
                    He already did it
                    once during his studies, and then it doesn't cost me so much." They can, but is he the right expert
                    for it? <span class="bgGreen bold">Rather no.</span></div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <span class="card5 mt-4">
              He can probably only do duty. But what about the freestyle?
            </span>
          </div>
          <div class="col-12">
            <div class="card6 mx-0 my-4 black">
              <img class="img3" src="webolution/pic1.png">
              <div class="lh-base">
                Maybe he writes a go<span class="bgWhite">od text t</span>hat is appealing. But does he perform? Does it
                get readers to buy? Maybe they've built a
                website with Jimdo before, but can the user find their way around? Does he know where to click? <br>
                Does he also take car<span class="bgWhite">e of legal matters, lo</span>ading speed, SEO and the like?
                I'll guess: No.
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card4">
              <div class="my-4 fs-5 black d-flex">
                <div class="">
                  <span class="fs-3 bold">Becaus<span class="bgGreen">e a good w</span>ebsite is basically the same as a
                    good movie: <br></span>
                  Suppose a website was a movie. For a film to be
                  successful, every detail has to be right: The actors have to be convincing, the dialogues captivating,
                  the plot gripping, the editing and the music harmonized. If even one of them doesn't work – be it a
                  bad
                  lead actor or a boring
                  story – the movie will flop. And it's the same with your website: It's not enough for it to just be
                  there.
                  Every element
                  – design, copy, loading speed, SEO, and user guidance – must be perfectly
                  <span class="bgGreen">aligned so that it can be fully</span>
                  effective.
                </div>
              </div>
              <img class="img3 me-4" src="webolution/Vector2.png">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="d-flex flex-column my-4 mt-4">
              <span class="fs-3 bold">But what happens if everything stays the same?</span>
              <div class="fs-5">
                <span>They still have their hands full with the day-to-day business, maybe think about their website
                  occasionally, but do<span class="bgGreen">n't have time to </span>take care of it and then maybe wake
                  up one day and
                  realize:
                  Damn, a big customer has broken away and somehow no new one comes so quickly.<br></span>
                <span class="mt-3">So not trading is expensive and it has already cost you a lot of sales in the past
                  few
                  months – maybe
                  you just haven't
                  noticed it until now. On average, many entrepreneurs leave 30% of their online sales behind.
                  And nowadays it's just like this: If customers don<span class="bgGreen">'t come to you, y</span>ou
                  just go to the competition. You
                  know: the ones
                  with the optimized websites.</span>
              </div>
              <button class="btn1 my-3 white">
                <img src="webolution/check 1.png">
                I'd rather have an optimized website.
              </button>
              <img class="m-4" src="webolution/pic7.svg">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span class="card5 h-100">
              But what if it could soon look like this in the future </span>
          </div>
          <div class="col-8">
            <div class="card6 lh-base h-100">
              <span class="">Imagine what it could be like if your everyday life changed completely
                from
                <span class="bgWhitelight bold">tomorrow</span>.
                It's 8 a.m., and you open your
                silver MacBook:<br> Your inbox is overflowing with appointment requests from enthusiastic
                <span class="bgWhitelight">customers who can't wait to work with you.</span>
                A smile flits across your face when you see that your ranking on Google has risen again –
                visible
                to the very
                customers you always wanted to reach.<br> While you're enjoying your first coffee, scroll through the
                current
                week. Projects
                that you enjoy are <span class="bold"><span class="bgWhitelight">firmly plann</span>ed</span>.
              </span>
              <img class="img3" src="webolution/pic1.png">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card4 my-4">
              <div class="row">
                <div class="col-8">
                  <div class="fs-5 mb-3">You think back to the time when your <span class="bgGreen">website
                      brought</span> hardly any <span class="bgGreen">inquiries</span> and
                    feel relieved that this is now behind you.
                    Shortly before 9 a.m., you start your first meeting:<br>
                    <span class="fst-italic">A major project that will not only bring you
                      financial success, but
                      also further consolidate your reputation as an expert.</span>
                  </div>
                  <button class="btn1 my-3">Do you want more sales soon?
                    <img src="webolution/person-simple-run 1.png">
                  </button>
                </div>
                <div class="col-4">
                  <img src="webolution/pic6.svg">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="card6 d-flex flex-column align-items-start mb-3">
              <span class="fs-5 lh-base m-3 black">
                And then it continues: Imagine what the next few weeks will look like. You <span
                  class="bold">finally</span> have time to work
                <span class="bold">strategically</span> on
                your <span class="bold">business</span> because you no longer have to improvise.<br> How would it feel
                to
                look at the numbers at the
                end
                of the month
                and see that you've not only met your <span class="bgGreenDark">sales goals,</span> but exceeded
                them?<br> What would it be like to look back
                in
                a year and
                realize that your decision to optimize your website was the turning point that changed everything?<br>
                <span class="bold">This future could
                  soon be your reality – and it starts with <span class="bgWhite">a single step.</span></span>
              </span>
              <button class="btn2 my-1">That's the step!
                <img src="webolution/person-simple-run2.png">
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="d-flex justify-content-center mt-5">
            <span class="fs-2 bold my-5">Why Webolution?</span>
          </div>
          <div class="col-4 d-flex justify-content-center">
            <div class="card7">
              <img src="webolution/Rectangle 6.png">
              <span>Hanns Martin Walter</span>
              <button class="btn3">Copywriter</button>
            </div>
          </div>
          <div class="col-4 d-flex justify-content-center">
            <div class="card7">
              <img src="webolution/Rectangle 6.png">
              <span>Mo Mikaeli</span>
              <button class="btn3">Scrum Master IT <br> Project Manager</button>
            </div>
          </div>
          <div class="col-4 d-flex justify-content-center">
            <div class="card7">
              <img src="webolution/Rectangle 6.png">
              <span>Arad Molk</span>
              <button class="btn3">Scrum Master</button>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-4 d-flex justify-content-center">
            <div class="card7">
              <img src="webolution/Rectangle 6.png">
              <span>Frank Hofer</span>
              <button class="btn3">Screen Designer</button>
            </div>
          </div>
          <div class="col-4 d-flex justify-content-center">
            <div class="card7">
              <img src="webolution/Rectangle 6.png">
              <span>Erika Runeland</span>
              <button class="btn3">Screen Designer</button>
            </div>
          </div>
          <div class="col-4 d-flex justify-content-center">
            <div class="card7">
              <img src="webolution/Rectangle 6.png">
              <span>Marcel Plavec</span>
              <button class="btn3">Professional Photos <br> CEO Videos</button>
            </div>
          </div>
        </div>

        <div class="row mt-3 mb-5">
          <div class="col-4 d-flex justify-content-center">
            <div class="card7">
              <img src="webolution/Frame 27.png">
              <span>5 Full Stack Developer</span>
            </div>
          </div>
          <div class="col-4 d-flex justify-content-center">
            <div class="card7">
              <img src="webolution/Rectangle 6.png">
              <span>Nextframe.Studio</span>
              <button class="btn3">Professional 3D <br> Video Animations</button>
            </div>
          </div>
          <div class="col-4 d-flex justify-content-center">
            <div class="card7">
              <img src="webolution/Frame 28.png">
              <span>3 UX/UI Developer</span>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-12">
            <div class="card8 d-flex my-3">
              <img src="webolution/Vector3.png">
              <span class="bold fs-3">My website is good as it is. <br>Do you know that or do you believe it?</span>
            </div>
          </div>
          <div class="col-12">
            <div class="card9">
              <span class="fs-5">If you only believe that, then take our free website check and we will show you how
                much
                more sales
                you
                can make day
                after day.</span>
            </div>
          </div>

          <div class="col-12">
            <div class="card8 d-flex mt-5 my-3">
              <img src="webolution/Vector3.png">
              <span class="bold fs-3">Do I have to finance everything myself?</span>
            </div>
          </div>
          <div class="col-12">
            <div class="card9">
              <span class="fs-5">Did you know that you can apply for a grant of up to 12,000 euros for the improvement
                of
                your website? Our certified
                digital consultants will help you complete all the necessary steps to apply for funding. This will make
                your investment
                even more profitable.</span>
            </div>
          </div>

          <div class="col-12">
            <div class="card8 d-flex mt-5 my-3">
              <img src="webolution/Vector3.png">
              <span class="bold fs-3">What can Webolution do better?</span>
            </div>
          </div>
          <div class="col-12">
            <div class="card9">
              <span class="fs-5">We are digitization experts and not a marketing agency. While others often only offer
                creative approaches, we focus on
                increasing sales and measurable results. With over 15 years of experience, a team of specialists and a
                clear plan, we
                guarantee websites that convert and bring new sales. In the team, we don't have a web designer who is
                responsible for
                everything, but a separate expert or professional for each sub-area.</span>
            </div>
          </div>

          <div class="col-12">
            <div class="card8 d-flex mt-5 my-3">
              <img src="webolution/Vector3.png">
              <span class="bold fs-3">Guarantee/Bonus?</span>
            </div>
          </div>
          <div class="col-12">
            <div class="card9">
              <span class="fs-5">On average, our customers achieve a return on investment (ROI) after about 4 months.
                This
                means that the new site has
                paid for itself after 4 months at the latest and from then on only makes more profits.</span>
            </div>
          </div>


          <div class="col-12">
            <div class="card8 d-flex mt-5 my-3">
              <img src="webolution/Vector3.png">
              <span class="bold fs-3">Is Webolution suitable for all industries?</span>
            </div>
          </div>
          <div class="col-12">
            <div class="card9">
              <span class="fs-5">Yes! Whether you are a craft business, a restaurant, a law firm or have a large online
                store – we know the challenges
                and basically all companies want to make more sales with new customers through the website. We've
                deciphered the code of
                how websites work and lead to more new customer business. We share this expertise with our
                customers.</span>
            </div>
          </div>

        </div>


        <div class="row">
          <div class="col d-flex flex-column my-5">
            <span class="bold fs-3 m-4 mb-0">The process</span>
            <span class="fs-5 m-4 mt-0">We know that as an entrepreneur, you don't have the time or desire to deal with
              the details
              of improving
              your w<span class="bgGreen">ebsite. That's wh</span>y we'll ask you the right questions about your
              business in just one hour and we'll
              do
              the rest.</span>

            <div class="row mb-5">
              <div class="col-4">
                <div class="card10 h-100">
                  <span class="bold fs-3">Consultation with the digitization expert</span>
                  <img src="webolution/pic10.png">
                </div>
              </div>
              <div class="col-4">
                <div class="card10 h-100">
                  <span class="bold fs-3">We work out different designs and you simply vote on them.</span>
                  <img src="webolution/pic9.png">
                </div>
              </div>
              <div class="col-4">
                <div class="card10 h-100">
                  <span class="bold fs-3">Done! Your new website goes live</span>
                  <img src="webolution/pic8.png">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 my-3">
            <div class="card11 d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <img class="me-2" src="webolution/Vector3.png">
                <span class="bold fs-5">Why should I trust Webolution?</span>
              </div>
              <img src="webolution/arrow-circle-down-fill 1.png">
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="card11 d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <img class="me-2" src="webolution/Vector3.png">
                <span class="bold fs-5">Is there technical support?</span>
              </div>
              <img src="webolution/arrow-circle-down-fill 1.png">
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="card11 d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <img class="me-2" src="webolution/Vector3.png">
                <span class="bold fs-5">Can I enter changes myself?</span>
              </div>
              <img src="webolution/arrow-circle-down-fill 1.png">
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="card11 d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <img class="me-2" src="webolution/Vector3.png">
                <span class="bold fs-5">What if I get hacked?</span>
              </div>
              <img src="webolution/arrow-circle-down-fill 1.png">
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="card11 d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <img class="me-2" src="webolution/Vector3.png">
                <span class="bold fs-5">Do Webolution websites meet all legal standards and obligations?</span>
              </div>
              <img src="webolution/arrow-circle-down-fill 1.png">
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col background3">
      <div class="d-flex justify-content-center">
        <img class="m-5 mb-0" src="webolution/White-01 1.png">
      </div>
      <div class="d-flex justify-content-center">
        <span class="mb-5 gray">All rights reserved</span>
      </div>
    </div>
  </div>
</div>