<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="d-flex flex-column justify-content-center align-items-center gap-4">
        <span class="text1">Domain</span>
        <span class="text2">Everything You Need – Domains, Hosting, Security & More, All in One Place</span>
        <button class="btn1">Read more</button>
      </div>
      <div class="d-flex justify-content-between">
        <img src="maviHost/pic1.svg">
        <img src="maviHost/pic2.svg">
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between align-items-center">
          <img src="maviHost/p1.svg">
          <img src="maviHost/p2.svg">
          <img src="maviHost/p3.svg">
          <img src="maviHost/p4.svg">
          <img src="maviHost/p5.svg">
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="d-flex align-items-center marginY gap-5">
          <div class="d-flex flex-column align-items-start gap-4">
            <span class="text3">A universe of TLDs waiting to claim your name</span>
            <span class="text4">Buying a domain is the first step in building your online presence, shaping your brand,
              and driving
              business growth.
              Domains fall into two categories: national domains like “.com.tr” in Turkey and international top-level
              domains (TLDs)
              such as .com, .net, and .org, each with varying prices. Availability is key, and you can check it through
              Mavihost’s “Domain Search” section. For international domains, email verification from the registrar is
              required. Need help? Our
              experts are here to guide you every step of the way.</span>
          </div>
          <div class="circle"></div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="d-flex align-items-center marginY gap-5">
          <div class="circle"></div>
          <div class="d-flex flex-column align-items-start gap-2">
            <span class="text3">A universe of TLDs waiting to</span>
            <span class="text5 mt-3">Easy Domain Management</span>
            <span class="text4">Manage your domains effortlessly with our intuitive, Turkish-friendly control panel.
              Customize your domain.</span>
            <span class="text5 mt-3">Easy Domain Management</span>
            <span class="text4">Manage your domains effortlessly with our intuitive, Turkish-friendly control panel.
              Customize your domain.</span>
            <span class="text5 mt-3">Easy Domain Management</span>
            <span class="text4">Manage your domains effortlessly with our intuitive, Turkish-friendly control panel.
              Customize your domain.</span>
            <button class="btn1">submit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="d-flex align-items-center marginY gap-5">
          <div class="circle"></div>
          <div class="d-flex flex-column align-items-start gap-4">
            <span class="text3">A universe of TLDs waiting to claim your name</span>
            <span class="text4">Buying a domain is the first step in building your online presence, shaping your brand,
              and driving
              business growth.
              Domains fall into two categories: national domains like “.com.tr” in Turkey and international top-level
              domains (TLDs)
              such as .com, .net, and .org, each with varying prices. Availability is key, and you can check it through
              Mavihost’s “Domain Search” section. For international domains, email verification from the registrar is
              required. Need help? Our
              experts are here to guide you every step of the way.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="d-flex flex-column align-items-center">
          <span class="text3">Secure & Smart Domain Solutions</span>
          <span class="text4">Seamless Domain Management with Security, Support, and the Best Prices</span>
        </div>

        <div class="d-flex flex-column align-items-start gap-5 marginY">
          <div class="d-flex align-items-start justify-content-center gap-5">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <div class="d-flex justify-content-between w-100">
                <span class="text5">Easy Domain Management</span>
                <img src="maviHost/tri.svg">
              </div>
              <span class="text6">Manage your domains effortlessly with our intuitive, Turkish-friendly control panel.
                Customize your domain settings, add
                extra features, and take full control—exactly the way you need.</span>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center">
              <div class="d-flex justify-content-between w-100">
                <span class="text5">Free Whois Guard</span>
                <img src="maviHost/tri.svg">
              </div>
              <span class="text6">Keep your personal information private with free Whois protection. Shield your
                identity, reduce spam, and stay secure
                while managing your domain.</span>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center">
              <div class="d-flex justify-content-between w-100">
                <span class="text5">Best Price</span>
                <img src="maviHost/tri.svg">
              </div>
              <span class="text6">Get your domain at the most competitive rates—premium features, without the premium
                price tag.</span>
            </div>

          </div>

          <div class="d-flex flex-column align-items-start gap-5 marginY">
            <div class="d-flex align-items-start justify-content-center gap-5">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex justify-content-between w-100">
                  <span class="text5">Free Transfer Lock</span>
                  <img src="maviHost/tri.svg">
                </div>
                <span class="text6">Lock in your domain’s security with our free transfer lock. Prevent unauthorized
                  transfers and ensure your domain stays
                  safe under your control.</span>
              </div>

              <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex justify-content-between w-100">
                  <span class="text5">Security</span>
                  <img src="maviHost/tri.svg">
                </div>
                <span class="text6">Enjoy worry-free domain protection with free mobile password verification, adding an
                  extra layer of security to your
                  account.</span>
              </div>

              <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex justify-content-between w-100">
                  <span class="text5">24/7 Support Service</span>
                  <img src="maviHost/tri.svg">
                </div>
                <span class="text6">Need help? Our expert support team is available around the clock to assist you with
                  any domain-related
                  questions—anytime, anywhere.</span>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="card1">
          <div class="d-flex flex-column justify-content-center align-items-start gap-3">
            <span class="text19">Request Free <span style="color: #3E82DD;">Consultation</span></span>
            <span class="text20">To request a free consultation, simply fill out the form below. We'll be in touch to
              schedule a time
              to chat.</span>
            <input type="text" class="input1" placeholder="your name">
            <input type="text" class="input2" placeholder="Your Phone Number">
            <input type="text" class="input3" placeholder="Email Address">
            <button class="btn1 mt-4">submit</button>
          </div>
          <div class="d-flex flex-column align-items-center">
            <img src="maviHost/10 Admin 2.svg">
            <span class="text20" style="font-size: 25.336px;">we are here to help you</span>
            <div class="d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="39" viewBox="0 0 40 39" fill="none">
                <path
                  d="M35.4135 26.7398C35.1472 28.763 34.1537 30.62 32.6183 31.9641C31.083 33.3082 29.1108 34.0475 27.0703 34.0438C15.2154 34.0438 5.57033 24.3987 5.57033 12.5439C5.56667 10.5033 6.30593 8.5312 7.65005 6.99586C8.99416 5.46051 10.8512 4.46694 12.8743 4.20072C13.3859 4.13825 13.904 4.24292 14.3512 4.49909C14.7985 4.75526 15.1509 5.1492 15.3558 5.62211L18.5091 12.6618V12.6798C18.666 13.0418 18.7308 13.437 18.6977 13.8301C18.6646 14.2233 18.5347 14.6021 18.3195 14.9328C18.2926 14.9731 18.2643 15.0104 18.2344 15.0477L15.1259 18.7326C16.2442 21.005 18.6211 23.3611 20.9234 24.4823L24.5575 21.3902C24.5932 21.3602 24.6305 21.3323 24.6695 21.3066C24.9999 21.0863 25.38 20.9517 25.7755 20.9152C26.1709 20.8787 26.5693 20.9414 26.9344 21.0976L26.9538 21.1066L33.9876 24.2584C34.4613 24.4626 34.8562 24.8147 35.1132 25.262C35.3703 25.7092 35.4756 26.2277 35.4135 26.7398Z"
                  fill="#98A1B3" />
              </svg>
              <span class="text20" style="font-size: 25.336px;">+989349699944</span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12 my-5">
        <div class="d-flex flex-column justify-content-center align-items-center my-5">
          <span class="text3">FAQ</span>
          <span class="text4">Seamless Domain Management with Security, Support, and the Best Prices</span>
        </div>
        <p-accordion value="0" [multiple]="true">
          <p-accordion-panel value="0" class="accordin1">
            <p-accordion-header>
              <span class="text7">How can I register a domain with Mavihost?</span>
            </p-accordion-header>
            <p-accordion-content>
              <p class="text8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore .
              </p>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="1" class="accordin1">
            <p-accordion-header>
              <span class="text7">What types of hosting services does Mavihost offer?</span>
            </p-accordion-header>
            <p-accordion-content>
              <p class="text8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore .
              </p>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="2" class="accordin1">
            <p-accordion-header>
              <span class="text7">What types of hosting services does Mavihost offer?</span>
            </p-accordion-header>
            <p-accordion-content>
              <p class="text8">
                You can reach Mavihost’s support team 24/7 through multiple channels. Visit our Support Center to start
                a live chat,
                submit a ticket, or browse our knowledge base for quick answers. You can also contact us via email or
                phone for direct
                assistance. Our experts are always ready to help with your domain and hosting needs. </p>
            </p-accordion-content>
          </p-accordion-panel>


        </p-accordion>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="d-flex flex-column align-items-center">
          <div class="d-flex flex-column align-items-center" style="margin-top: 20%;">
            <span class="text3">What user say about us</span>
            <span class="text4">Affordable, Scalable, Customizable</span>
          </div>
          <div class="d-flex align-items-center gap-4 my-5">
            <div class="card7">
              <div class="d-flex flex-column align-items-center gap-4">
                <img src="maviHost/Ellipse 155.svg">
                <span class="text17">Name of user</span>
                <button class="btn5">channle</button>
                <span class="text18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna aliqua.</span>
              </div>
            </div>

            <div class="card7">
              <div class="d-flex flex-column align-items-center gap-4">
                <img src="maviHost/Ellipse 155.svg">
                <span class="text17">Name of user</span>
                <button class="btn5">channle</button>
                <span class="text18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna aliqua.</span>
              </div>
            </div>

            <div class="card7">
              <div class="d-flex flex-column align-items-center gap-4">
                <img src="maviHost/Ellipse 155.svg">
                <span class="text17">Name of user</span>
                <button class="btn5">channle</button>
                <span class="text18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna aliqua.</span>
              </div>
            </div>

            <div class="card7">
              <div class="d-flex flex-column align-items-center gap-4">
                <img src="maviHost/Ellipse 155.svg">
                <span class="text17">Name of user</span>
                <button class="btn5">channle</button>
                <span class="text18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna aliqua.</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col">
        <div class="d-flex flex-column align-items-center">
          <div class="d-flex flex-column align-items-center" style="margin-top: 20%;">
            <span class="text3">Subscription plans</span>
            <span class="text4">Seamless Domain Management with Security, Support, and the Best Prices</span>
          </div>

          <div class="d-flex justify-content-between w-100 my-5">
            <div class="box1">
              <button class="btn2">Cloud Server</button>
              <span class="txt">VPS Server</span>
              <span class="txt">VDS Server</span>
            </div>
            <div class="box2">
              <span class="txt1">Hosting</span>
              <button class="btn3">Server</button>
            </div>
          </div>

          <div class="card2">
            <span class="text7">The lunix 12</span>
            <div class="d-flex align-items-start gap-4">
              <div class="d-flex align-items-start gap-2">
                <img src="maviHost/tick-square.svg">
                <span class="text9">24 gb ram</span>
              </div>
              <div class="d-flex align-items-start gap-2">
                <img src="maviHost/tick-square.svg">
                <span class="text9">20 core cpu</span>
              </div>
              <div class="d-flex align-items-start gap-2">
                <img src="maviHost/tick-square.svg">
                <span class="text9">unlimited traffic</span>
              </div>
            </div>
            <img src="maviHost/arrow.svg">
          </div>

          <div class="card2 my-3">
            <span class="text7">The lunix 12</span>
            <div class="d-flex align-items-start gap-4">
              <div class="d-flex align-items-start gap-2">
                <img src="maviHost/tick-square.svg">
                <span class="text9">24 gb ram</span>
              </div>
              <div class="d-flex align-items-start gap-2">
                <img src="maviHost/tick-square.svg">
                <span class="text9">20 core cpu</span>
              </div>
              <div class="d-flex align-items-start gap-2">
                <img src="maviHost/tick-square.svg">
                <span class="text9">unlimited traffic</span>
              </div>
            </div>
            <img src="maviHost/arrow.svg">
          </div>

          <div class="card2">
            <span class="text7">The lunix 12</span>
            <div class="d-flex align-items-start gap-4">
              <div class="d-flex align-items-start gap-2">
                <img src="maviHost/tick-square.svg">
                <span class="text9">24 gb ram</span>
              </div>
              <div class="d-flex align-items-start gap-2">
                <img src="maviHost/tick-square.svg">
                <span class="text9">20 core cpu</span>
              </div>
              <div class="d-flex align-items-start gap-2">
                <img src="maviHost/tick-square.svg">
                <span class="text9">unlimited traffic</span>
              </div>
            </div>
            <img src="maviHost/arrow.svg">
          </div>

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="d-flex flex-column align-items-center w-100 gap-3 my-5   mx-0"
          style="border-radius: 32px; background: var(--Linear, linear-gradient(89deg, #30BBBE -0.03%, #3E82DD 101.64%)); padding: 64px 120px;">
          <div class="d-flex justify-content-between w-100">
            <div class="d-flex flex-column">
              <span class="text15">Start building today</span>
              <span class="text16">Signup now and create your host and servers in minutes.</span>
            </div>
            <div class="d-flex flex-column">
              <span class="text15">3.1 M</span>
              <span class="text16">Support Requests Resolved <br> Since 2009.</span>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column align-items-center w-100 gap-3 mb-3"
          style="border-radius: 32px; background: var(--Linear, linear-gradient(89deg, #30BBBE -0.03%, #3E82DD 101.64%)); padding: 64px 120px;">
          <span class="text15">Start building today</span>
          <span class="text16">Signup now and create your host and servers in minutes.</span>
        </div>
      </div>
    </div>
  </div>
</div>