<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="header d-flex justify-content-between">
        <div class="logo ms-3">LOGO</div>
        <div class="m-3">
          <span>Our services</span>
          <button class="get-started ms-3" (click)="navigateToSecond()">Get Started</button>

        </div>
      </div>
      <div class="">
        <div class="d-flex">
          <img class="img1 mt-2" src="zoomin/Vector.png">
          <span class="title1">Zoomin & MasterTube</span>
        </div>
        <span class="d-flex justify-content-center title2">A <span class="Powerful mx-3">Powerful</span>
          Partnership</span>
        <div class="d-flex mt-4">
          <span class="title2 title3">for YouTubers</span>
          <span class="ms-5">The ultimate collaboration to boost your <br> YouTube revenue and grow your
            channel.</span>
          <img class="img2" src="zoomin/Group.png">
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="get-started ms-3 my-4">Get Started</button>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center align-items-center gap-2">
        <div class="box1">
          <img src="zoomin/pic1.svg">
          <img src="zoomin/pic2.svg">
        </div>
        <div class="box2">
          <img src="zoomin/pic3.svg">
        </div>
        <div class="box3">
          <img src="zoomin/pic4.svg">
          <img src="zoomin/pic5.svg">
        </div>
        <div class="box3">
          <img src="zoomin/pic6.svg">
          <img src="zoomin/pic7.svg">
        </div>
        <div class="box3">
          <img src="zoomin/pic8.svg">
        </div>
      </div>
    </div>
  </div>


  <div class="row m-3">
    <div class="col d-flex justify-content-center">
      <div class="card">
        <div class="text1 d-flex justify-content-between">
          <span class="text2 m-3">Powering Your YouTube Success:<br> A Partnership for Growth</span>
          <span class="text3 m-3">Maximizing your income while enhancing<br> your content creation journey</span>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="card1 d-flex flex-column">
              <img class="m-3" src="zoomin/image.svg">
              <span class="fs-3 ms-3">Revenue Management</span>
              <span class="ms-3 mb-3">Manage and boost your YouTube earnings with expert help.</span>
            </div>
          </div>
          <div class="col-4">
            <div class="card1 d-flex flex-column">
              <img class="m-3" src="zoomin/image (1).svg">
              <span class="fs-3 ms-3">24/7 technical support</span>
              <span class="ms-3 mb-3">Your personal manager is available anytime to help resolve issues with your
                channel
                quickly.</span>
            </div>
          </div>
          <div class="col-4">
            <div class="card1 d-flex flex-column">
              <img class="m-3" src="zoomin/image (2).svg">
              <span class="fs-3 ms-3">Content Creation Assistance</span>
              <span class="ms-3 mb-3">Let us help you create high-quality content that engages your audience and save
                your time.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row card m-3">
    <div class="col">
      <div class="d-flex justify-content-between">
        <span class="text2 m-3">Focus on creation,<br> leave the rest to us</span>
        <span class="text3 m-3">Our advanced tools and expert guidance<br> ensure you never miss an opportunity
          to<br>
          grow your
          income.</span>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card2 my-4">
            <span class="fs-3 mt-4">Boost your CPM and earn more money</span>
            <span class="my-3">Maximize your revenue with higher CPM rates and better monetization
              strategies.</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="card1 d-flex">
            <div class="d-flex flex-column justify-content-center">
              <span class="fs-3 m-3">Content Distribution</span>
              <span class="m-3">Sharing video content across social media , websites, and partner networks.</span>
            </div>
            <img class="rounded-4" src="zoomin/hand-holding-megaphone-against-green-background_432322-3157 1.png">
          </div>
          <div class="card1 d-flex">
            <div class="d-flex flex-column justify-content-center">
              <span class="fs-3 m-3">Channel Design</span>
              <span class="m-3">Crafting thumbnails, headers, intros, outros, and more. Our design team brings your
                vision to life.</span>
            </div>
            <img class="rounded-4" src="zoomin/image 8.png">
          </div>
          <div class="card3 d-flex">
            <div class="d-flex flex-column justify-content-center">
              <span class="fs-3 m-3">Video Optimization</span>
              <span class="m-3">Optimizing descriptions and meta tags to boost rankings and visibility in YouTube
                searches and recommendations.</span>
            </div>
            <img class="rounded" src="zoomin/close-up-camera-against-white-background_1048944-4937248.png">
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <div class="card4 d-flex">
                <div class="d-flex flex-column justify-content-between">
                  <div class="d-flex flex-column">
                    <span class="fs-3 m-3 bold">Branded Solutions</span>
                    <span class="m-3">Delivering video services for brands, including storytelling and native
                      ads.</span>
                  </div>
                  <img class="rounded" src="zoomin/magnifying-glass_1156-674.png">
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="card4 d-flex">
                <div class="d-flex flex-column justify-content-between">
                  <div class="d-flex flex-column">
                    <span class="fs-3 m-3 bold">Analytics & Insights</span>
                    <span class="m-3">Offering performance data and audience engagement insights.</span>
                  </div>
                  <img class="rounded img4" src="zoomin/light-bulb_1387-4 1.png">
                </div>
              </div>
            </div>


          </div>
          <div class="card5 d-flex">
            <div class="d-flex flex-column justify-content-center">
              <span class="fs-3 m-3">Channel Audit</span>
              <span class="m-3">Analyzing visual design, performance metrics, and optimization strategies. Our
                experts provide recommendations to boost
                views and subscribers.</span>
            </div>
            <img class="rounded-bottom-4 mt-5" src="zoomin/Group2.png">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card6 d-flex justify-content-between mb-4 w-100">
            <div class="d-flex flex-column justify-content-center">
              <span class="fs-3 m-3">Content ID</span>
              <span class="m-3">Protect your copyrights by enabling Content ID, which detects all copies of your
                videos, including full clips and
                excerpts.</span>
            </div>
            <img class="rounded-4" src="zoomin/sadfghjk 1.png">
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="row m-3 mb-5">
    <div class="col">
      <span class="fs-2 bold">Get paid today,<br> not in 45-60 days.</span>
      <div class="row">
        <div class="col-6">
          <div class="d-flex flex-column">
            <img src="zoomin/youtub.png">
            <span class="fs-3">No More Waiting for YouTube Payouts</span>
            <span>Tired of waiting for YouTube to process your earnings? With Express Payouts, you can withdraw your
              money daily based on
              YouTube Analytics.</span>
          </div>
        </div>

        <div class="col-6">
          <div class="d-flex card7">
            <img class="img3 m-2" src="zoomin/crown-fill 1.png">
            <span class="mt-3 text-muted">Express Peyouts with daily payment</span>
          </div>
          <div class="d-flex card7 mt-5">
            <img class="img3 m-2" src="zoomin/cherries-fill 1.png">
            <span class="mt-3 text-muted">Transparent Reporting with detailed insights</span>
          </div>
          <div class="d-flex card7 mt-5">
            <img class="img3 m-2" src="zoomin/feather-fill 1.png">
            <span class="mt-3 text-muted">Financial Optimization to maximizing earnings</span>
          </div>
          <div class="d-flex card7 mt-5">
            <img class="img3 m-2" src="zoomin/disco-ball-fill 1.png">
            <span class="mt-3 text-muted">Personalized Service teilored to your needs</span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row card m-3">
    <div class="col">
      <div class="text1 d-flex justify-content-between">
        <span class="text2 m-3 bold mt-5">Creators Who Shine</span>
        <span class="text3 m-3">Discover the famous YouTubers we’ve <br> partnered with, showcasing their unique
          <br>content and success stories.</span>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="card1 d-flex flex-column">
            <img class="m-3" src="zoomin/card.png">
            <span class="fs-3 ms-3 bold">Lockstin & Gnoggin</span>
            <span class="ms-3 my-3">Gaming YouTuber</span>
            <span class="ms-3 mb-3">Austin Lockwood, better known as Lockstin & Gnoggin, is an American YouTuber who
              goes deep into the Pokemon universe,
              giving the lowdown on every theory surrounding the game.</span>
          </div>
        </div>
        <div class="col-4">
          <div class="card1 d-flex flex-column">
            <img class="m-3" src="zoomin/card1.png">
            <span class="fs-3 ms-3 bold">James Kingston</span>
            <span class="ms-3 my-3">Climber and YouTuber</span>
            <span class="ms-3 mb-3">James Kingston climbs some of the world's tallest and most dangerous structures.
              You may have heard of his Eiffel Tower
              climb, featured on Joe Rogan, but he's doing much more than this!</span>
          </div>
        </div>
        <div class="col-4">
          <div class="card1 d-flex flex-column">
            <img class="m-3" src="zoomin/card2.png">
            <span class="fs-3 ms-3 bold">Ely Oficial</span>
            <span class="ms-3 my-3">Make-Up and Game</span>
            <span class="ms-3 mb-3">Ely is a Dominican content creator who now lives in Spain. With over 5 million
              TikTok followers and thousands of
              followers on YouTube and Instagram, she has countless fans across the world who...</span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row card m-3 mb-5">
    <span class="fs-2 bold my-3">Premium Tools, For free</span>
    <div class="row">
      <div class="col-6 mt-5 ">
        <div class="d-flex justify-content-between">
          <span class="text-muted fs-4">VidIQ Pro</span>
          <img src="zoomin/Component 3.png">
        </div>
        <hr>
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-column">
            <span class="fs-4 bold">Epidemic Sound</span>
            <span>Discover a vast music library, easily accessible for your content.</span>
          </div>
          <button class="btn1 bold">
            <span class="mx-3">Get it now</span>
          </button>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
          <span class="text-muted fs-4">Deeplinks and Ad automation</span>
          <img src="zoomin/Component 3.png">
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex justify-content-between m-3">
          <div class="vid">
            <img class="vidimg ms-5" src="zoomin/vid.png">
          </div>
          <div class="eslogo">
            <img class="esimg" src="zoomin/Epidemic_Sound_Logo_Black.svg 1.png">
            <span class="fs-4 ms-4 bold">Epidemic Sound</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="d-flex flex-column m-3">
        <span class="fs-2 bold">MasterTube & Zoomin</span>
        <span class="fs-4 text-muted">Ultimate YouTube Management Solution for YouTubers and Content Creators</span>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <img src="zoomin/hand.png">
    </div>
  </div>

  <div class="row my-5">
    <span class="fs-1 bold my-4">Your Funds, Your Security</span>
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <div class="card1 p-4">
            <img class="float-end" src="zoomin/arrow-line.png">
            <img class="m-3" src="zoomin/fram11.png">
            <div class="d-flex flex-column">
              <span class="fs-3 ms-3 bold">2FA</span>
              <span class="ms-3 my-3 text-muted">Your Extra Layer of Security</span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card1 p-4">
            <img class="float-end" src="zoomin/arrow-line.png">
            <img class="m-3" src="zoomin/fram22.png">
            <div class="d-flex flex-column">
              <span class="fs-3 ms-3 bold">KYC</span>
              <span class="ms-3 my-3 text-muted">Your Identity, Our Priority</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <div class="d-flex flex-column">
            <span class="fs-2 bold my-5">$5M+</span>
            <span class="text-muted mb-3">Revenue managed</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column">
            <span class="fs-2 bold my-5">100M+</span>
            <span class="text-muted mb-3">Views per Month</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column">
            <span class="fs-2 bold my-5">8+ Years</span>
            <span class="text-muted mb-3">experience in media industry</span>
          </div>
        </div>
        <span class="text4 fs-5 justify-content-center">YouTube and Google official Partner</span>
      </div>
    </div>
  </div>

  <div class="row card8">
    <div class="col-6">
      <div class="d-flex flex-column m-3">
        <span class="my-3">MasterTube</span>
        <span class="fs-2 bold my-3">JOIN OUR SOLUTIONS</span>
        <button class="btn2">
          <span class="bold m-3">START NOW</span>
        </button>
        <span class="my-3">© Mastertube 2024. All rights reserved Privacy Policy</span>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <div class="d-flex flex-column m-3">
            <span class="bold m-3">Barand title</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column m-3">
            <span class="bold m-3">Barand title</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column m-3">
            <span class="bold m-3">Barand title</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>